{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <h1>Вот что я умею</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Python</li>
          <li class="list-group-item">Django</li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          Первая проба страницы.
          Для ее создания применялись инопланетные технологии.
          Django помог с сайтом, а python подсобил в некоторых других делах.
        </p>
      </article>
  </div>
</div>
{% endblock %}