{% extends 'base.html' %}

{% block title %}
Записи сообщества {{ group.title }}
{% endblock %}

{% block content %}
  <main>
    <!-- класс py-5 создает отступы сверху и снизу блока -->
    <div class="container py-5">
      <h1>{{ group.title }}</h1>
      <p>{{ group.description }}</p>
      {% for post in page_obj %}
        {% include 'includes/posts_article.html' %}
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">
            Все записи группы
          </a>
        {% endif %}
        <!-- под последним постом нет линии -->
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  </main>
{% endblock %}